# Node
node_modules/
dist/
*.log
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv311/
venv/
.venv/
*.db
*.sqlite3
*.db-journal
*.db-wal
*.db-shm

# IDE
.vscode/
.idea/
*.swp
*.swo

# Env
.env
.env.local
.env.*.local
.env.example  # Si no quieres subir el ejemplo (opcional)

# Build
build/
dist/
*.egg-info/
.eggs/
*.whl

# Docker
data/
*.pid

# OS
Thumbs.db
*.tmp

# Backend
backend/data/
backend/*.db
backend/*.sqlite3

# Frontend
frontend/dist/
frontend/.vite/